%h1
  Share yuour bill
%h2
  En attendant de trouver un meilleur nom, et de finir les fonctionnalités

.nav
  %a{href: url('/bill/new')}
    New bill

.vrac.idea
  %em
    À venir / à faire
  %ol
    %li
      saisir un code postal,
    %li
      option de rayon en kilometre
    %li
      option de rayon en transport en commun
    %li
      visualisation des magains prêt de chez moi
    %li
      option possibilité d'un ajouter un si on pense qu'il en manque
    %li
      fabrique une liste des produits que j'achete habituellement ? (stockage en cookie puisque pas de user ?), limité la taille de la liste (4k de cookie) ou localstorage. Pas de user ou compte user dans la base.
    %li
      tape nom d'un produit et voir la comparaison.
    %li
      sinon, à partir du code postal, l'application peux afficher les resultats des calculs quelle aura effectué sur les données déjà saisies. On peut faire une comparaison sur les produits existant dans au moins deux magasins de ma région.

