
%form{action: url('/bill'), method: 'post'}
  %label
    Date
    %input{type: 'date', name:'bill_date'}
  #shop
    %label
      Shop name
      %input{name: 'shop_name'}
    %label
      Shop city
      %input{name: 'shop_city'}
  #items
    %ul
      %li
        .item
          %label
            Item name
            %input{name: 'item_name'}
          %label
            Item price
            %input{name: 'item_price'}
    %a
      add item
  %input{type: 'submit'}
  %a{href: url('/')}
    Cancel

